$white : #ffffff;

$grey : #808080;
$grey-light : rgba($grey, 0.3);

$black : #000000;

$yellow : #ffff00;
$yellow-light : rgba($yellow, 0.3);

$orange : #ffa500;
$orange-light : rgba($orange, 0.3);

$red : #ff0000;
$red-light : rgba($red, 0.3);
$red-middle : rgba($red, 0.7);

$green : #008000;
$green-light : rgba($green, 0.3);

$blue : #0000ff;
$blue-light : rgba($blue, 0.3);
$blue-middle : rgba($blue, 0.7);