$white : #F2F2F2;
$grey-light : #E5E5E5;
$grey : #BFBFBF;
$black : #4D4D4D;


$yellow-light : #FEF7E5;
$yellow : #F6D365;
$yellow-dark : #E5B835;


$orange-light : #FEF0E0;
$orange : #F8B878;
$orange-dark : #E2873D;


$red-light : #FDE9E8;
$red : #F28B82;
$red-dark : #D6453A;


$green-light : #E7FAED;
$green : #7DDFA1;
$green-dark : #4BBE76;


$blue-light : #E6F3FC;
$blue : #7DBEF0;
$blue-dark : #3398E2;