@use '../abstracts/variables' as *;

.section {

    &__notes {
        padding: 8px;
        gap: 8px;
        display: flex;
        justify-content: center;

        // @media (min-width: 769px) {
        flex-wrap: wrap;
        // }


        >div {
            padding: 8px;
            border: 1px solid $black;
            border-radius: 8px;

            >div {
                gap: 8px;
                display: flex;
                flex-direction: column;

                @media (min-width: 769px) {
                    flex-direction: row;
                }
            }
        }
    }
}

#general {
    background-color: $grey-light;
}

#reminders {
    background-color: $yellow;
}

#escalations {
    background-color: $orange;
}

#resolutions {
    background-color: $green;
}

#closures {
    background-color: $red;
}



#general-incidents {
    background-color: $red;

    &>div>div {
        background-color: $red-light;
    }
}

#application-incidents {
    // background-color: $red-dark;
    background-color: $red;

    &>div>div {
        background-color: $red-light;
    }
}



#access-request {
    background-color: $blue;

    &>div>div {
        background-color: $blue-light;
    }
}

.wn {
    background-color: $orange;
}